.side-bar-box{
width: 20vw;
border: 1px solid blue;
background-color: #ADD8E6;
padding: 2rem 0;
gap: 0.25rem;
}
.sidebar-items{
    font-size: 22px;
    padding: 0.75rem 2.5rem;
    font-weight: 500;
    line-height: 1rem;
    word-spacing: normal;
    text-decoration: none;
}
.content-box{
    width: 100%;
    padding: 3rem 2rem;
    background-color: black;
}
.sidebar-items:hover{
    background-color: whitesmoke;
    color: blue;
}